@model CinemaBookingApp.Models.Seat

@{
    ViewData["Title"] = "Edit Seat";
}

<h1>Edit Seat</h1>

<hr />

<div class="row">
    <div class="col-md-5">

        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="SeatID" />

            <div class="mb-3">
                <label asp-for="HallID" class="form-label"></label>
                <select asp-for="HallID"
                        class="form-select"
                        asp-items="ViewBag.HallID">
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="SeatNumber" class="form-label"></label>
                <input asp-for="SeatNumber" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="SeatType" class="form-label"></label>
                <input asp-for="SeatType" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Status" class="form-label"></label>
                <input asp-for="Status" class="form-control" />
            </div>

            <button type="submit"
                    class="btn btn-warning">
                Save
            </button>

            <a asp-action="Index"
                   class="btn btn-secondary">
                Back
            </a>

        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}